header {
    background-image: url("../img/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    margin-bottom: 7em;
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    
}

.header__container {
    display: flex;
    justify-content: space-between;
}


.header__list {
    display: none;
}

.tittle__container {
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
}

.principal__tittle {
    color: var(--white);
    font-family: var(--font-tittle);
    font-size: 35px;
    text-align: left;
    padding: .75em .75em .75em .75em;
    text-transform: uppercase;
}