header {
    background-image: url("../img/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    margin-bottom: 13em;
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    
}

.logo {
    padding: 2em 0 2em 0;
}

.tittle__container {
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
    margin-top: 8em;
}

.principal__tittle {
    color: var(--white);
    font-family: var(--font-tittle);
    font-size: 35px;
    text-align: left;
    padding: .75em .75em .75em .75em;
    text-transform: uppercase;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 70px;
    background-color: var(--black);
    width: 100%;
    transition: 0.3s;

}

.nav__item {
    padding: 2em 0 0 2em;
}

.last__item {
    margin-bottom: 5em;
}

.nav__link {
    color: var(--white);
    font-family: var(--font-tittle);
    font-size: 25px;
    text-transform: uppercase;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav__menu.active {
    left: 0;
}

header.active {
    background-color: var(--black);
    background-image: none;
    transition: 0.5s;
}

@media screen and (min-width: 1440px) {
    .hamburger {
        display: none;
    }

    .nav__menu {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 65%;
        top: 95px;
        background-color: transparent;
        width: 30%;
    }

    .nav__link {
        font-size: 23px;
        text-transform: initial;
        font-family: var(--font-text);
    }

    header {
      background-image: url("../img/desktop/image-hero.jpg");
      background-repeat: no-repeat; 
      padding: 5em 15em 0 15em;
    }

    .tittle__container {
        width: 600px;
        height: 300px;
    }

    .principal__tittle {
        font-size: 60px;
    }

    .logo {
        width: 300px;
    }
} 