main {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__section {
    padding: 0 2em 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vr__image {
    width: 100%;
}

.vr__image-desktop {
    display: none;
}

.section__desktop {
    display: none;
}

.section__tittle {
    padding: 1.5em 0 .65em 0;
    color: var(--black);
    font-family: var(--font-tittle);
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.section__text {
    color: var(--verydarkgray);
    font-family: var(--font-text);
    font-size: 16px;
    text-align: center;
    line-height: 26px;
}

.second__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deepearth {
    background-image: url("../img/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.nightarcade {
    background-image: url("../img/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.soccerteam {
    background-image: url("../img/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.thegrid {
    background-image: url("../img/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.fromup {
    background-image: url("../img/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.pocketborealis {
    background-image: url("../img/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.thecuriosity {
    background-image: url("../img/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.makeit {
    background-image: url("../img/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 315px;
    height: 120px;
    margin-bottom: 1.75em;
}

.content__link {
    position: relative;
    top: 55px;
    left: 20px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-tittle);
    font-size: 24px;
    text-transform: uppercase;
}

.button__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--black);
    width: 130px;
    height: 30px;
    margin: 1em 0 6em 0;
}

.button {
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}


@media screen and (min-width: 1440px) {
    .vr__image,
    .second__section,
    .button__container,
    .button {
        display: none;
    }

    .vr__image-desktop {
        display: block;
        position: relative;
        left: -230px;
    }

    .section__desktop {
        display: block;
        width: 100%;
        margin-bottom: 15em;
    }

    .text__container {
        width: 500px;
        position: absolute;
        left: 900px;
        top: 978px;
        background-color: var(--white);
        padding: 1em 0 0 7em;
    }

    .section__tittle {
        font-size: 50px;
        text-align: left;
    }

    .section__text {
        font-size: 20px;
        text-align: left;
    }

    .container__desktop {
        display: flex;
        padding: 6em 15em 0 15em;
        justify-content: space-between;
        
    }

    
    .desktop__cards {
        padding: 0 15em 0 15em;
    }

    .desktop__list {
        display: grid;
        grid-template-columns: 256px 256px 256px 256px;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        row-gap: 1em;
        column-gap: 1em;

    }

    .desktop__tittle {
        color: var(--black);
        font-family: var(--font-tittle);
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
    }

    .button__container-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        border-color: var(--black);
        width: 130px;
        height: 30px;
        margin: 0em 0 6em 0;
    }

    .button__desktop {
        text-decoration: none;
        font-family: var(--font-text);
        color: var(--black);
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;

    }

    .desktop__deepearth {
        background-image: url("../img/desktop/image-deep-earth.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__nightarcade {
        background-image: url("../img/desktop/image-night-arcade.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__soccerteam {
        background-image: url("../img/desktop/image-soccer-team.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__thegrid {
        background-image: url("../img/desktop/image-grid.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__fromup {
        background-image: url("../img/desktop/image-from-above.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__pocketborealis {
        background-image: url("../img/desktop/image-pocket-borealis.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__thecuriosity {
        background-image: url("../img/desktop/image-curiosity.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__makeit {
        background-image: url("../img/desktop/image-fisheye.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 256px;
        height: 450px;
        display: flex;
        align-items: flex-end;
    }

    .desktop__link {
        text-transform: uppercase;
        font-size: 30px;
        color: var(--white);
        font-family: var(--font-tittle);
        padding: 0 0 1.5em 1.5em;
        
        

    }
}