@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("main-desktop.css");
@import url("footer-desktop.css");
@import url("header-desktop.css");

body {

    font-size: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    
    /*Colors*/

 --white: #ffffff;
 --black: #000000;
 --darkgray: #8c8c8c;
 --verydarkgray: #696969;
 --darkblue: #324bede5;
    
 
 /*Fonts*/

 --font-tittle: "Josefin Sans", sans-serif;
 --font-text: "Alata", sans-serif;
}